<%- include("partials/header") -%>
<h1>Contact</h1>
<form class="" action="mailto:shindehitesh26@gmail.com" method="post" enctype="text/plain">
  <div class="form-group">
   <label for="exampleFormControlInput1">Name</label>
   <input type="text" class="form-control" id="exampleFormControlInput1" name="Name">

   <label for="exampleFormControlTextarea1">Message</label>
   <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="Message"></textarea>
 </div>

   <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include("partials/footer") -%>
